@import "../../assets/scss/variables";

.content {
    .first-section {
        padding: 80px 0px;

        .first-section-row {
            .first-section-left {
                .first-section-left-desc {
                    .first-section-title {
                        font-weight: 900;
                        font-size: 50px;
                        color: #287CA1;
                    }

                    .first-section-subtitle {
                        line-height: 30px;
                        max-width: 610px;
                    }
                }
            }
        }
    }

    .second-section {
        .second-section-header {}
        .second-section-content {
            padding: 48px 0px;
        }
    }

    .third-section {
        .third-section-header {}
        .third-section-content {
            padding: 48px 0px;
        }
    }

    .fourth-section {
        .fourth-section-content {
            padding: 48px 0px;

            .fourth-section-content-box {
                .fourth-section-content-number {
                    margin-top: 15px;
                    margin-bottom: 0px;
                    font-weight: 900;
                    font-size: 50px;
                }

                .fourth-section-content-string {
                    font-weight: 900;
                    margin: 10px 0px;
                }

                .fourth-section-content-img {
                    height: 80px;
                    filter: invert(67%) sepia(90%) saturate(331%) hue-rotate(337deg) brightness(98%) contrast(94%);
                }
            }
        }
    }

    .fifth-section {
        .fifth-section-header {}
        .fifth-section-content {
            padding: 48px 0px;
        }
    }

    .sixth-section {
        .sixth-section-header {}
        .sixth-section-content {
            padding: 48px 0px;
        }
    }
}


// styling for responsive
// styling for mobile

@media (max-width: 575px) {
    .first-section {
        padding: 0px !important;

        .first-section-row {
            flex-direction: column-reverse;

            .first-section-right {
                width: 100%;
                .first-section-right-img {
                    width: 70% !important;
                }
            }

            .first-section-left {
                .first-section-left-desc {
                    .first-section-title {
                        font-size: 35px !important;
                        text-align: center;
                        padding-top: 30px;
                        margin-bottom: 20px;
                    }

                    .first-section-subtitle {
                        text-align: justify;
                    }
                }
            }
        }
    }

    .second-section {
        .second-section-container {
            padding-left: 35px;
            padding-right: 35px;

            .second-section-header {}

            .second-section-content {
                padding: 15px 0px !important;

                .sejarah-content-second {
                    padding-top: 20px;
                }
            }
        }
    }

    .third-section {
        .third-section-header {}

        .third-section-content {
            padding: 15px 0px !important;
        }
    }

    .fourth-section {
        .fourth-section-content {
            padding: 15px 0px !important;

            .fourth-section-content-box {
                padding: 40px 0px;
                .fourth-section-content-img {
                    height: 100px !important;
                }
            }
        }
    }

    .fifth-section {
        .fifth-section-header {}

        .fifth-section-content {
            padding: 15px 0px !important;
        }
    }

    .sixth-section {
        .sixth-section-header {}

        .sixth-section-content {
            padding: 15px 0px !important;
        }
    }
}