@import "../../assets/scss/variables";

.footer {
    background-color: $primaryColor;
    color: white;

    .footer-content {
        margin: 0px 50px;

        .footer-left-side {
            .kelurahan-info {
                list-style-type: none;
                padding-left: 0;

                .kelurahan-info-list {
                    margin: 20px 0px;
                }
            }
        }
    }
}