@import "../../assets/scss/variables";

.footer {
    background-color: $primaryColor;
    color: white;

    .footer-content {
        margin: 0px 50px;

        .footer-left-side {
            .kelurahan-info {
                list-style-type: none;
                padding-left: 0;

                .kelurahan-info-list {
                    margin: 20px 0px;
                }
            }
        }
    }
}


// styling for responsive
@media (max-width: 575px) {
    .footer {
        .footer-content {
            margin: 0px 0px;
            flex-direction: column-reverse;

            .footer-right-side {
                padding: 0px 20px;
                
                .footer-right-side-header {
                    text-align: center;
                }

                .footer-right-side-content {
                    text-align: justify;
                    padding-bottom: 25px;
                }
            }

            .footer-left-side {
                padding: 0px 60px;

                .kelurahan-info {
                    .kelurahan-info-list {
                        .kelurahan-info-list-street {
                            width: 91%;
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
}